@{
    ViewData["Title"] = "Privacy Policy";
}


<div class = "about">
    <div class = "judul">
    <h1>@ViewData["Title"]</h1>
</div>


<div class="hukum">
    <p></p>
    <div class="pidana">
        <h3>
            Hukum Pidana
        </h3>
        <p>
            Hukum Pidana adalah keseluruhan dari peraturan-peraturan yang menentukan perbuatan apa yang dilarang dan termasuk ke dalam tindak pidana, 
        </p>
        <p>serta menentukan hukuman apa yang dapat dijatuhkan terhadap yang melakukannya.</p>
    </div>

    <div class= "perdata">
        <h3>
            Hukum Perdata
        </h3>
        <p>
            Hukum Perdata adalah hukum yang mengaturan hak, harta benda dan kaitannya antara individu maupun badan hukum atas dasar logika.
        </p>
    </div>
</div>
