@{
    ViewData["Title"] = "Home Page";
}

<div class= "bg">
    
    <div class="text-center">
    <h1>KonsulYuridis</h1>
    <p>Jasa konsultasi hukum daring</p>
    <p>via video conference</p>
    <p>bersama konsultan hukum yang terpercaya.</p>
</div>

</div>
